{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}Статьи{% endblock title %}
{% block content %}
    <h1>Все статьи</h1>
    <div class="mb-3">
        <a href="{% url 'article_create' %}" class="btn btn-primary">Добавить статью</a>
        <a href="{% url 'article_search' %}" class="btn btn-info">Поиск</a>
        <a href="{% url 'news_list' %}" class="btn btn-secondary">Новости</a>
    </div>
    <h2>Количество статей: {{ articles|length }}</h2>
    <hr>
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Дата публикации</th>
            <th>Автор</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.title|censor }}</td>
                <td>{{ article.date|date:'d M Y' }}</td>
                <td>{{ article.author.user.username }}</td>
                <td>{{ article.content|censor|truncatechars:50 }}</td>
                <td>
                    <a href="{% url 'article_detail' article.pk %}" class="btn btn-sm btn-info">Просмотр</a>
                    <a href="{% url 'article_edit' article.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
                    <a href="{% url 'article_delete' article.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Статей пока нет.</td>
            </tr>
        {% endfor %}
    </table>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}