{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}Поиск новостей{% endblock title %}
{% block content %}
    <h1>Поиск новостей</h1>
    <div class="mb-3">
        <a href="{% url 'news_list' %}" class="btn btn-secondary">Назад к списку</a>
    </div>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Поиск" class="btn btn-primary"/>
    </form>
    <hr>
    <h2>Найдено новостей: {{ news|length }}</h2>
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Дата публикации</th>
            <th>Автор</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        {% for new in news %}
            <tr>
                <td>{{ new.title|censor }}</td>
                <td>{{ new.date|date:'d M Y' }}</td>
                <td>{{ new.author.user.username }}</td>
                <td>{{ new.content|censor|truncatechars:50 }}</td>
                <td>
                    <a href="{% url 'new_detail' new.pk %}" class="btn btn-sm btn-info">Просмотр</a>
                    <a href="{% url 'news_edit' new.pk %}" class="btn btn-sm btn-warning">Ред.</a>
                    <a href="{% url 'news_delete' new.pk %}" class="btn btn-sm btn-danger">Удал.</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Ничего не найдено.</td>
            </tr>
        {% endfor %}
    </table>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}